$grid-h-dasharray: 1,5;
$grid-v-dasharray: 1,5;
$font-color-bright: #fafafb;
$font-color-dark: #f7f8fa;
$structure-color-bright: #f7f7f7;
$structure-color-dark: #fafafb;
$y-axis-line-width: 2px;
$annotation: #f7f7f7;